{% extends 'base.html' %}

{% block title %}
{{ title }} - {{ block.super }}
{% endblock %}

{% block content %}
    <h2>{{ title }}</h2>
    <hr>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Номер</th>
                    <th scope="col">Дата окончания</th>
                    <th scope="col">ФИО студента</th>
                    <th scope="col">Курс</th>
                    <th scope="col">Изменение</th>
                    <th scope="col">Фото</th>
                    <th scope="col">Печать</th>
                </tr>
            </thead>
            <tbody>
                {% for certificate in certificates %}
                    <tr>
                        <td><a href="{% url 'certificate_detail' certificate.pk %}">{{ certificate.pk }}</a></td>
                        <td>{{ certificate.date }}</td>
                        <td>{{ certificate.student_fio }}</td>
                        <td>
                            {% if certificate.course %}
                                <a href="{% url 'course_detail' certificate.course.pk %}">{{ certificate.course }}</a>
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td><a href="{% url 'certificate_edit' certificate.pk %}">✏️</a></td>
                        <td><a href="{% url 'certificate_image' certificate.pk 'image' %}">🖼</a></td>
                        <td><a href="{% url 'certificate_image' certificate.pk 'printer' %}">🖨</a></td>
                    </tr>
                {% empty %}
                    Здесь ничего нет. Добавьте первое удостоверение!
                {% endfor %}
            </tbody>
        </table>


{% endblock %}